form {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.buttonContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

.button {
    background-color: #007efc;
    color: white;
    margin-bottom: 4%;
}

mat-form-field {
    width: 45%;
}

::ng-deep.mat-form-field-flex {
    align-items: flex-end !important;
}

mat-toolbar {
    justify-content: space-between;
    background-color: #007efc;
    color: white;
}

.pass-icon {
    vertical-align: super !important;
    color: #007efc;
}

h3 {
    text-align: center;
    width: 100%;
    margin: 16px 0;
}

mat-spinner {
    position: fixed;
}

@media screen and (max-width: 700px) {
    mat-form-field {
        width: 90%;
    }
}