<mat-toolbar class="myToolbar">
  <h2>
    {{ recoveryMode ? "Recuperación de Contraseña" : "Inicio de Sesión" }}
  </h2>
  <button mat-icon-button id="exit">
    <i (click)="dialogRef.close()" style="color: white" class="material-icons">
      clear
    </i>
  </button>
</mat-toolbar>
<form [formGroup]="loginFG" [style.opacity]="loading ? '0.5' : 1">
  <img
    height="120px"
    width="180px"
    src="../../../assets/logo_ucag.png"
  />

  <h3 *ngIf="recoveryMode">
    Ingrese el correo con el cual se registro para enviarle la información
  </h3>

  <mat-form-field appearance="fill" *ngIf="!recoveryMode">
    <mat-label>Identificación o correo electrónico</mat-label>
    <input
      #email
      maxlength="50"
      matInput
      placeholder="Identificación o correo electrónico"
      type="email"
      [formControl]="loginFG.get('email')"
    />
    <span matPrefix>
      <i class="material-icons">person</i>
    </span>
    <mat-hint align="end">{{ email.value.length }} / 50</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="recoveryMode">
    <mat-label>Correo electrónico</mat-label>
    <input
      #recovery_email
      maxlength="50"
      matInput
      placeholder="Correo electrónico"
      type="email"
      [formControl]="loginFG.get('recovery_email')"
    />
    <span matPrefix>
      <i class="material-icons">mail</i>
    </span>
    <mat-hint align="end">{{ recovery_email.value.length }} / 50</mat-hint>
    <mat-error
      *ngIf="
        loginFG.get('recovery_email').errors &&
        (loginFG.get('recovery_email').touched || loginFG.get('recovery_email').dirty)
      "
    >
      Por favor ingrese un correo válido
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="!recoveryMode">
    <span matPrefix>
      <i class="material-icons">https</i>
    </span>
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      placeholder="Ingrese su contraseña"
      [type]="hide ? 'text' : 'password'"
      [formControl]="loginFG.get('password')"
      #password
      maxlength="20"
    />
    <mat-hint align="end">{{ password.value.length }} / 20</mat-hint>
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      type="button"
    >
      <i class="material-icons" style="vertical-align: text-bottom">
        {{ hide ? "visibility" : "visibility_off" }}
      </i>
    </button>
  </mat-form-field>
  <div class="buttonContainer">
    <button
      class="button"
      [disabled]="disableDialog()"
      type="submit"
      mat-raised-button
      style="width: 90%"
      (click)="onSubmit()"
    >
      {{ recoveryMode ? "Enviar correo" : "Iniciar Sesión" }}
    </button>
  </div>

  <p class="ask" target="_blank" (click)="changeMode()">
    {{ recoveryMode ? "Volver al Inicio de Sesión" : "Olvidé mi contraseña" }}
  </p>

  <p *ngIf="!recoveryMode" style="text-align: center">¿No tienes una cuenta?</p>
  <p *ngIf="!recoveryMode" class="ask" target="_blank" (click)="openRegisrtyDialog()">
    Registrame <i class="material-icons">launch</i>
  </p>

  <mat-spinner *ngIf="loading"></mat-spinner>
</form>
