/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Estilo para los botones de cerrar los dialogos */

#exit {
  float: right;
  margin: 0 0 1% 1%;
  color: white !important;
  background-color: transparent !important;
}

button:focus {
  outline: none;
  border: 0;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
}

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  border-radius: 4px !important;
  background-color: whitesmoke !important
}

/* Estilo responsivo para los dialogos del sistema */

@media screen and (min-width: 701px) {
  .full-width-dialog .mat-dialog-container {
    max-width: 50vw !important;
    min-width: 30vw !important;
    max-height: 95vh !important;
    padding: 0 !important;
  }
  .app-auth-dialog .mat-dialog-container {
    width: 40vw !important;
    max-height: 90vh !important;
    padding: 0 !important;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  mat-form-field {
    width: 220px;
    margin: 2%;
  }
}

@media screen and (max-width: 700px) {
  .full-width-dialog .mat-dialog-container {
    max-width: 99vw !important;
    max-height: 90vh !important;
    padding: 0 !important;
  }
  .app-auth-dialog .mat-dialog-container {
    width: 99vw !important;
    max-height: 90vh !important;
    padding: 0 !important;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  mat-form-field {
    width: 100%;
    margin: auto;
    padding: 3%;
  }
}

@media screen and (max-height: 360px) {
  .swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal {
    height: 90vh !important;
  }
}