<div class="mainContainer">
  <mat-card class="my-card">
    <img class="ucagLogo" src="../../../assets/logo_ucag.png" />

    <h3>Introduzca la nueva contraseña y confirme la misma</h3>

    <form [formGroup]="resetFG">
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          #password
          maxlength="20"
          matInput
          placeholder="Contraseña"
          [type]="hidePass ? 'text' : 'password'"
          [formControl]="resetFG.get('password')"
          name="password"
          required
        />
        <mat-hint align="end">{{ password.value.length }} / 20</mat-hint>
        <button
          matSuffix
          class="passwordIcon"
          mat-icon-button
          matSuffix
          (click)="hidePass = !hidePass"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePass"
          type="button"
        >
          <i class="material-icons pass-icon">
            {{ hidePass ? "visibility" : "visibility_off" }}
          </i>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirmación de contraseña</mat-label>
        <input
          #confirmPassword
          maxlength="20"
          matInput
          placeholder="Confirmación de contraseña"
          [type]="hideConfrimPass ? 'text' : 'password'"
          [formControl]="resetFG.get('confirmPassword')"
          compare="password"
          required
        />
        <mat-hint align="end">{{ confirmPassword.value.length }} / 20</mat-hint>
        <mat-error
          *ngIf="
            resetFG.get('confirmPassword').invalid &&
            (resetFG.get('confirmPassword').dirty ||
              resetFG.get('confirmPassword').touched)
          "
        >
          <p *ngIf="resetFG.get('confirmPassword').errors['compare']">
            Las contraseñas proporcionadas son diferentes
          </p>
        </mat-error>
        <button
          matSuffix
          class="passwordIcon"
          mat-icon-button
          matSuffix
          (click)="hideConfrimPass = !hideConfrimPass"
          [attr.aria-label]="'Hide confirmPassword'"
          [attr.aria-pressed]="hideConfrimPass"
          type="button"
        >
          <i class="material-icons pass-icon">
            {{ hideConfrimPass ? "visibility" : "visibility_off" }}
          </i>
        </button>
      </mat-form-field>

      <div class="buttonContainer">
        <button
          class="button"
          [disabled]="!resetFG.valid"
          type="submit"
          mat-raised-button
          style="width: 90%"
          (click)="resetPassword()"
        >
          Esbalecer nueva contraseña
        </button>
      </div>
    </form>
  </mat-card>
</div>
