.mainContainer {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    margin: 1vh auto;
}

mat-form-field {
    width: 100%;
}

.my-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 70vw !important;
    height: 90vh !important;
    margin: 0 1%;
    border-radius: 25px;
    background: url('../../../assets/texture.jpg');
    background-size: cover;
}

i {
    color: #007efc;
}

h3 {
    text-align: center;
    margin: 16px 0;
}

.buttonContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

.button {
    background-color: #007efc;
    color: white;
    margin-bottom: 4%;
}

.ucagLogo{
    width: 35vw !important;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #007efc;
}

@media  screen and (max-width: 700px) {
    .ucagLogo{
        width: 65vw !important;
    }

    .my-card {
        width: 80vw !important;
        height: 90vh !important;
    }
}